h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"] {
    margin-top: 0.5rem;
    padding: 0.5rem;
    width: 100%;
}

.botones {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.miBtn.checkout {
    width: 50%;
}

.form-group {
    margin-bottom: 25px;
}