.miNav{
    width: 100%;
    justify-content: center;
    height: 80px;
    align-items: center;
    gap: 20px;
}

/* .navBar{
    
    position: absolute;
    width: 100%;
} */
.miNavBar{
    background-color: black !important;
}

#basic-nav-dropdown{
    color: white !important;
}

.logo{
    color: white;
    font-size: xx-large;
    font-family: 'Alegreya Sans SC', sans-serif; 
}
/* Oculta el elemento con la clase 'z-10' */


/* O si deseas basarte en el atributo 'data-testid' */

