div{
   
    justify-content: center;
    height: 80px;
    align-items: center;
}

.navBar{
    
    position: absolute;
    width: 100%;
}

.miDropdownItem:hover{
    background-color: gray;
    color: white; /* Puedes ajustar el color del texto según tus preferencias */
}
